:root {
    --color--1: #7AA637;
    --color--2: #002400;
    --color--3: #3f600e;
    --color--4: #f6f3e286;
    --color--5: #c2bbb9;
    --color--6: #8fc341;
    --color--7: #598615;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

/* estilização do scroll */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 12px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: var(--color--6);
}


body {
    background-color: var(--color--4);
}

/* Estilização do header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px 100px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    box-shadow: 0 0 10px;
}

.logo {
    width: 100%;
    max-width: 100px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1, 1.1);
}

.nav--bar .nav--bar--item a {
    position: relative;
    text-decoration: none;
    color: var(--color--6);
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 30px;
}

.nav--bar .nav--bar--item a.line--bottom::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 3px;
    border-radius: 4px;
    background: var(--color--6);
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.nav--bar .nav--bar--item a.line--bottom:hover::after {
    transform: scaleX(1);
}

.nav--bar .nav--bar--item a.line--bottom {
    transition: 0.4s ease-in-out;
}

.nav--bar .nav--bar--item a.line--bottom:hover {
    color: #fff;
}

.back--active button {
    color: white;
    background-color: var(--color--3);
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 600;
}

.back--active button:hover {
    background: #517b12;
    color: black;
}

#mobile--btn {
    display: none;
}

/*Estilização da seção de início*/
.home {
    height: 100vh;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.782), rgba(0, 0, 0, 0.393)), url(../images/pexels-olia-danilevich-5088019.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0px 0px 40px 40px;
    background-attachment: fixed;
}

.home-text {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    color: white;

}

.home-text h1 {
    text-decoration: underline var(--color--1);
    font-size: 4rem;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-text p {
    color: var(--color--5);
    font-size: 30px;
}

/*Estilização da seção de benefícios*/
.benefits {
    padding: 20px;
    background-color: var(--color--5);
    display: flex;
    justify-content: center;
    height: 45vh;
    gap: 12px;
}

.benefits-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 35vw;
    padding-top: 20px;
    color: #131212;
}

.benefits-text p {
    font-size: 18px;
}

.benefits img {
    border-radius: 15px;
    background-color: var(--color--1);
    width: 30vw;
    height: 40vh;
}

/*seção de descrição(motivos) */
.description {
    background-color: #a5a49c;
    padding: 30px;
    color: #131212;
    width: 80%;
    margin: auto;
    position: relative;
    top: 20px;
}

.description h1 {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.description span {
    color: white;
}

.description ol {
    font-size: 20px;
    padding: 20px;
    text-align: start;
    list-style: none;
}

.description li {
    padding-bottom: 20px;
}

/*seção de desenvolvedores*/
.develops {
    background-color: rgb(105, 105, 105);
    height: auto;
    margin-bottom: 15vh;
}

#main-title {
    padding-left: 325px;
    color: white;
    padding-top: 40px;
    font-size: 30px;
}

.develops p {
    color: var(--color--4);
    padding-left: 325px;
    padding-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 30px;
    background-color: #292929;
    width: 250px;
    height: 330px;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.412);
    transition: all 0.5s;
    border: 3px solid #292929;
    padding: 15px;
}

.card img {
    display: block;
    margin: auto;
    height: 10rem;
}

.card hr {
    width: 200px;
    align-items: center;
}

#title {
    color: var(--color--1);
    padding-top: 5px;
    padding-bottom: 10px;
}

.card ul {
    color: var(--color--4);
    line-height: 2;
    padding-left: 15px;
    padding-top: 5px;
}

.card:hover {
    scale: 1.1;
    border: 3px solid var(--color--1);
}

#mobile--menu {
    display: none;
}

/*responsividade*/
@media screen and (max-width: 700px) {

    .logo {
        width: 100%;
        float: left;
    }
    
    .home {
        height: 100vh;
    }

    .home-text h1 {
        font-size: 50px;
    }

    .home-text {
        margin: auto;
        margin-left: 5px;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .benefits {
        height: auto;
    }

    .benefits img {
        height: 50vh;
    }

    .develops p,
    #main-title {
        padding-left: 20px;
    }

}

@media only screen and (max-width: 1170px) {

    .nav--bar .nav--bar--item {
        display: none;
    }

    .logo {
        width: 100%;
        max-width: 100px;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        margin-left: -80px;
    }

    #mobile--btn {
        display: block;
        width: 100%;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--color--1);
        transition: 0.2s ease-in-out;
    }

    #mobile--btn .button--options {
        margin-right: -120px;
    }

    #mobile--btn:hover {
        color: var(--color--6);
    }

    #mobile--menu.active {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        background: grey;
        transition: 0.4s ease-in;
    }

    #mobile--nav--list {
        display: flex;
        list-style: none;
        flex-direction: column;
        margin: 0.3rem;
    }

    .btn--m a {
        color: black;
        text-decoration: none;
        transition: all 0.1s ease-out;
    }

    .dropDown--su {
        color: black;
        list-style: none;
        cursor: pointer;
        margin-bottom: 1px;
    }

    .drop--btn {
        font-weight: 500;
        background: var(--color--6);
        /* padding: 0.1rem 0.5rem; */
        padding: 0.1rem 0.5rem;
        margin-bottom: 1rem;
    }
}