html,
body {
    overflow-x: hidden;
}

footer {
    border-radius: 40px 40px 0 0;
    padding: 30px;
    background-color: rgba(19, 19, 19, 0.882);
    height: auto;

}

.logo--footer {
    width: 200px;
    align-items: center;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 20px;
}

.footer--row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
    margin-top: -50px;
}

.bloco-1 ,
.bloco-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border: 2px solid #7AA637;
    width: auto;
    color: #f6f3e286;
    margin: auto;
}

.bloco-2{
    margin: auto;
}

.github_link{
    text-decoration: none;
    color:#f6f3e286;
    cursor: pointer;
}

.container-blocos{
    margin-right: -45vw;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;

}
.container-blocos ul {
    line-height: 2;
    padding-top: 5px;
    list-style: none;
}

#contact-img {
    filter: invert(100%);
    width: 50px;
}

#btn-f {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7AA637;
    color: #f6f3e2;
    padding: 5px;
    border-radius: 8px;
    font-size: 20px;
    border: 2px solid #7AA637;
    transition: all 0.5s ease;
    margin: auto;
}

#btn-f:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #7AA637;
}

.dropdown-footer {
    position: relative;
    display: inline-block;
}   

.icons {
    background-color: rgb(49, 44, 44);
    color: #f6f3e286;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.29);
}

.icons a {
    color: #7AA637;
    text-decoration: none;
}

footer hr{
    margin-top: 125px;
}

footer p{
    margin: 10px;
    text-align: center;
    color: #f6f3e286;
}


/*responsividade*/
@media screen and (max-width: 630px) {

    .logo--footer {
        width: 100px;
        align-items: center;
        margin: auto;
        text-align: center;
        position: absolute;
        top: 40px;
        left: 70px;
        margin-left: 50px;
    }

    .bloco-2 {
        margin-top: 90px;
    }

    .line--footer {
        margin-top: 15px;
    }

    .drop {
        width: auto;
        display: block;
       
    }

    .respon {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer--row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    footer hr{
        margin-top: 60vh;
    }

    .container-blocos{
        flex-flow: column-reverse wrap;
        margin-right: 0;
    }

    #logo-footer {
        top: -9px;
        left: -66px;
    }

}

/*responsividade*/
@media screen and (max-width: 1008px) {
    .bloco-1 ul,
    .bloco-2 ul {
        color: grey;
    }

    footer .dropdown-content-footer {
        color: grey;
    }

    .logo--footer {
        margin-left: 150px;
    }

    .bloco-1 {
        margin-top: 40px;
    }

    footer p {
        color: grey;
    }
}