html,
body {
    overflow-x: hidden;
}

footer {
    border-radius: 40px 40px 0 0;
    padding: 30px;
    background-color: rgba(19, 19, 19, 0.882);

}

#logo-footer {
    width: 200px;
}

.footer--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    flex-wrap: wrap;
}

.bloco-1 ,
.bloco-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #7AA637;
    width: auto;
    color: #f6f3e286;
}

.container-blocos{
    display: flex;
    flex-direction: row;
    gap: 50px;

}
.container-blocos ul {
    line-height: 2;
    padding-top: 5px;
    list-style: none;
}
#contact-img {
    filter: invert(100%);
    width: 50px;
}

#btn-f {
    background-color: #7AA637;
    color: #f6f3e2;
    padding: 5px;
    border-radius: 8px;
    font-size: 20px;
    border: 2px solid #7AA637;
    transition: all 0.5s ease;
}

#btn-f:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #7AA637;
}

.dropdown-footer {
    position: relative;
    display: inline-block;
}

.dropdown-content-footer {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-footer:hover .dropdown-content-footer {
    display: flex;
    flex-direction: column;
}

#icons {
    background-color: rgb(49, 44, 44);
    color: #f6f3e286;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.29);
}

#icons a {
    color: #7AA637;
    text-decoration: none;
}

footer hr{
    margin-top: 90px;
}

footer p{
    margin: 10px;
    text-align: center;
    color: #f6f3e286;
}


/*responsividade*/
@media screen and (max-width: 700px) {

    .footer--row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    footer hr{
        margin-top: 50vh;
    }

    .dropdown-content-footer {
        display: flex;
        flex-direction: column;
    }
}