:root {
    --primary--color--hover: #8fc341;
    --primary--color--two: #002400;
    --primary--color--button: #598615;
    --primary--color--body: #f6f3e286;
    --primary--color--five: #C2BBB9;
}

/*Responsividade do botão de menu*/
@media only screen and (max-width: 1170px) {
    #nav--list {
        display: none;
    }

    #mobile--btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--primary--color--button);
        transition: 0.2s ease-in-out;
    }

    #mobile--menu.active {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        background: #ffffff48;
        transition: all 0.4s ease-in;
    }

    #mobile--nav--list {
        display: flex;
        list-style: none;
        flex-direction: column;
        margin: 20px;
        gap: 20px;
    }

    .btn--m a {
        color: black;
        text-decoration: none;
        transition: all 0.1s ease-out;
    }

    #mobile--btn:hover {
        color: var(--primary--color--hover);
    }

    .dropDown--su {
        list-style: none;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .drop--btn {
        font-weight: 500;
        background: var(--primary--color--hover);
        padding: 0.5rem;
    }
}



/*Responsividade dos itens flex*/
@media screen and (max-width: 600px) {
    .spacing {
        height: auto;
    }

    .ct--center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}



/* Responsividade da página de registro */
@media screen and (max-width: 950px) {
    .card--registro {
        width: 85%;
    }
}

/* @media screen and (max-width: 600px) {
    .main--registro {
        flex-direction: column;
    }
    .left--registro h1 {
        display: none;
    }

    .left--registro {
        width: 100%;
        height: auto;
    }

    .rigth--registro {
        width: 100%;
        height: auto;
    }
} */