:root {
    --primary--color--hover: #8fc341;
    --primary--color--two: #002400;
    --primary--color--button: #598615;
    --primary--color--body: #f6f3e286;
    --primary--color--five: #C2BBB9;
}

@media screen and (max-width: 1170px) {
    #nav--list {
        display: none;
    }

    #mobile--btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--primary--color--button);
        transition: 0.2s ease-in-out;
    }

    #mobile--btn:hover {
        color: var(--primary--color--hover);
    }
}

@media (max-width: 750px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 600px;
        height: 600px;
    }

    main {
        margin: 20px 0px;
    }
}