<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/logar.css">
    <link rel="shortcut icon" href="../static/icons/Traced Image.svg" type="image/x-icon">
    <script src="../static/js/login.js" defer></script>
    <title> GEP - Login </title>
</head>
<body>

    <!-- CORPO DO SITE -->
    <main class="main--login">
        <a href="/">
            <button>
                <i class="fa-solid fa-arrow-left back--btn"></i>
            </button>
        </a>
        <!-- parte de texto do lado esquerdo -->
        <div class="left--login">
            <h1> <span>Faça login</span> <br> Gerenciador Escolar de Patrimônio</h1>
            <img class="left--login--image" src="../static/images/registro.svg" alt="Imagem de login">
        </div>

        <!-- Formulário de login -->
        <div class="right--login">
           
            <div class="card--login">     
                <h2>LOGIN</h2> <br><br>

                <form action="" method="post">

                    <div class="text--login">
                        <label for="usuario"> Usuário </label>
                        <input type="text" name="login" placeholder="insira seu login" id="name"> <br>
                    </div>
            
                    <div class="text--login">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="insira sua senha" id="password"> <br>
                    
                        <input class="btn--login" type="submit" name="" value="login">

                        {%if menssagem == True%}
                            <div class="user--not--register">Usuário não cadastrado</div>
                        {%endif%}
                    </div>

                </form>
            </div>
        </div>
    </main>


</body>
</html>