<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="shortcut icon" href="../static/icons/favicon.png" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/js/script.js" defer></script>

    <title> GEP - Gestão Escolar de Patrimônio </title>

</head>

<body>
    <!-- Aqui se encontra o menu de navegação do site -->
    <header>
        <a href="/">
            <img class="logo" src="../static/images/logo.svg" alt="logo">
        </a>
        <nav class="nav--bar">
            <div class="nav--bar--item">
                <a class="line--bottom" href="{{url_for('funcoes.sobre')}}"> Sobre nós </a>

                <a class="line--bottom" href=""> Suporte </a>
                <ul class="dropdown">
                    <li>
                        <a href="#" download="Guia do usuário - GEP"></a>
                    </li>
                </ul>
                {% if usu: %}

                <a href="{{ url_for('funcoes.logout') }}" class="btn--login--active">
                    <button> logout </button>
                </a>

                {% else: %}

                <a href="{{ url_for('funcoes.login') }}" class="btn--login--active">
                    <button> Login </button>
                </a>

                {% endif %}
            </div>

            <button id="mobile--btn">
                <i class="fa-solid fa-bars button--options"></i>
            </button>
        </nav>
    </header>


    <!-- Versão mobile- menu de navegação site -->
    <div id="mobile--menu">
        <ul id="mobile--nav--list">

            <li class="btn--m">
                <a href="{{url_for('funcoes.sobre')}}">Sobre nós</a>
            </li>

            <details>
                <summary class="dropDown--su">Suporte</summary>

                <li class="btn--m drop--btn"><a href="#" download="Guia do Usuário - GEP">Download - manual do
                        usuário</a></li>
            </details>

        </ul>
    </div>

    <div class="spacing"></div>


    <!-- CORPO DO SITE - Aqui se encontra as opções de patrimônio do ambiente escolar -->
    <main>
        <section class="home">
            <div class="home-text">
                <h1>Gestão Escolar de <span>Patrimônio</span></h1>
                <p>Um site com o objetivo de coordenar e identificar os bens da instituição Edson Queiroz.</p>
            </div>
        </section>

        <h1 class="text--user--tool"> Utilize nossa ferramenta </h1>

        <section class="container">
            <div class="ct--center">
                <div class="options--tomb">
                    <a href="/1">
                        <img class="img--options cadeira" src="../static/images/cadeira_escolar.png"
                            alt="cadeira escolar">
                    </a>
                    <p class="description--item">CADEIRA</p>
                </div>
                <div class="options--tomb">
                    <a href="/2">
                        <img class="img--options mesa" src="../static/images/mesa_escolar.png" alt="mesa escolar">
                    </a>
                    <p class="description--item">MESA</p>
                </div>

                <div class="options--tomb">
                    <a href="/3">
                        <img class="img--options" src="../static/images/lousa_escolar.png" alt="lousa escolar">
                    </a>
                    <p class="description--item">LOUSA</p>
                </div>

                <div class="options--tomb">
                    <a href="/4">
                        <img class="img--options ar" src="../static/images/arcondicionado_escolar.png"
                            alt="ar-condicionado escolar">
                    </a>
                    <p style="height: 35px;" class="description--item">AR-CONDICIONADO</p>
                </div>

                <div class="options--tomb">
                    <a href="/5">
                        <img class="img--options" src="../static/images/ventilador_escolar.png"
                            alt="ventilador escolar">
                    </a>
                    <p class="description--item">VENTILADOR</p>
                </div>

                <div class="options--tomb">
                    <a href="/6">
                        <img class="img--options" src="../static/images/projetor_escolar.png" alt="projetor escolar">
                    </a>
                    <p class="description--item">PROJETOR</p>
                </div>
            </div>
        </section>

    </main>

    <div class="spacing"></div>

    <!-- Aqui se encontra o rodapé do site-->
    <footer>
        <div class="respon">
            <div class="footer--row">
                <img id="logo-footer" src="../static/images/logo.svg" alt="logotipo">
                <div class="container-blocos">

                    <div class="bloco-1">
                        <img id="contact-img" src="../static/icons/email.png" alt="email">
                        <ul>
                            <li>joseilclemaia@gmail.com </li>
                            <li>lucasfcbb123@gmail.com</li>
                            <li>andre5555358@gmail.com </li>
                            <li>fcokauanclash@gmail.com </li>
                            <li>victorgab0802@gmail.com</li>
                            <li>fm.nascimento1010@gmail.com</li>
                        </ul>
                    </div>

        
                <div class="bloco-2">
                    <img id="contact-img" src="../static/icons/github.png" alt="Github">
                    <ul>
                        <li>
                            <a href="https://github.com/JoseIlcle14" class="github_link">jJoseIlcle14</a>
                        </li>
                        <li>
                            <a href="https://github.com/patluc15" class="github_link">patluc15</a>
                        </li>
                        <li>
                            <a href="https://github.com/Andr-wq" class="github_link">Andr-wq</a>
                        </li>
                        <li>
                            <a href="https://github.com/FcoKauan" class="github_link">FcoKauan</a>
                        </li>
                        <li>
                            <a href="https://github.com/Victor-Gabriel-marinho" class="github_link">Victor-Gabriel-marinho</a>
                        </li>
                    </ul>


                </div>

            </div>
            <div class="dropdown-footer">
                <span>
                    <h2 id="btn-f">Criadores dos Ícones</h2>
                </span>
                <div class="drop">
                    <div class="dropdown-content-footer">
                        <div class="icons"> Ícones feitos por <a href="https://www.flaticon.com/br/autores/freepik"
                                title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/br/"
                                title="Flaticon">www.flaticon.com'</a></div>
                        <div class="icons"> Ícones feitos por <a href="https://www.flaticon.com/br/autores/juicy-fish"
                                title="juicy_fish"> juicy_fish </a> from <a href="https://www.flaticon.com/br/"
                                title="Flaticon">www.flaticon.com'</a></div>
                        <div class="icons"> Ícones feitos por <a href="https://www.flaticon.com/br/autores/xnimrodx"
                                title="xnimrodx"> xnimrodx </a> from <a href="https://www.flaticon.com/br/"
                                title="Flaticon">www.flaticon.com'</a></div>
                        <div class="icons"> Ícones feitos por <a href="https://www.flaticon.com/br/autores/vector-stall"
                                title="Vector Stall"> Vector
                                Stall </a> from <a href="https://www.flaticon.com/br/"
                                title="Flaticon">www.flaticon.com'</a></div>
                        <div class="icons"> Ícones feitos por <a href="https://www.flaticon.com/br/autores/itim2101"
                                title="itim2101"> itim2101 </a> from <a href="https://www.flaticon.com/br/"
                                title="Flaticon">www.flaticon.com'</a></div>
                        <div class="icons"> Ícones feitos por <a href="https://www.freepik.com" title="Freepik">
                                Freepik </a>
                            from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com'</a></div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <p>© 2024 GEP. Todos os direitos reservados.</p>

</body>

</html>