<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




{% if lista == 1 %}
    <tr id="moveis-{{itens.id}}"></tr>
        <th scope="row">{{ objeto.id }}</th>
        <td>{{ objeto.cor }}</td>

        {% if objeto.id_sala == 1 %}

        <td>infor 1</td>

        {% elif objeto.id_sala == 2 %}

        <td>infor 2</td>

        {% elif objeto.id_sala == 3 %}

        <td>infor 3</td>

        {% endif %}

        <td>{{ objeto.material }}</td>

        <td><button>Editar</button></td>
        
    </tr> 

{% elif lista == 2 %}
    <tr></tr>
        <th>{{ objeto.id }}</th>
        <td>{{ objeto.potencia }}</td>

        {% if objeto.id_sala == 1 %}

        <td>infor 1</td>

        {% elif objeto.id_sala == 2 %}

        <td>infor 2</td>

        {% elif objeto.id_sala == 3 %}

        <td>infor 3</td>

        {% endif %}

        <td>{{ objeto.consumo }}</td>

    </tr>
{% endif %}



</body>