<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../static/js/modal.js" defer></script>
  <title>lista</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/table.css">

  <script src="../static/js/modal.js" defer></script>
  <title>lista</title>
</head>

<body>
    
  <button class="abrir_modal" data-modal="modal1">Adicionar</button>

  <!-- <button class="abrir_modal" onclick="document.getElementsByClassName('modal1').showModal()">Adicionar</button> -->

  <!-- <dialog class="modal1"> -->

  <!-- <dialog id="modal1">
    <button class="fechar_modal" data-modal="modal1">X</button>
    <div>
      <form action="/criar">

        <label for="id">ID:</label>
        <input type="text" id="id" name="id">

        <label for="id_sala">ID da sala:</label>
        <input type="text" id="id_sala" name="id_sala">

        <label for="material">Material:</label>
        <input type="text" id="material" name="material">

        <label for="cor">Cor:</label>
        <input type="text" id="cor" name="cor">

        <label for="turma">Infor 1</label>
        <input type="radio" name="turma">

        <label for="turma">Infor 2</label>
        <input type="radio" name="turma">

        <label for="turma">Infor 3</label>
        <input type="radio" name="turma">

      </form>
    </div>

  </dialog> -->

  {% if lista == 1 %}
  <table>
    <thead>
      <tr>
        <dialog id="modal1">
          <button class="fechar_modal" data-modal="modal1">X</button>
          <div>
            <form action="1//criar">
      
              <label for="id">ID:</label>
              <input type="text" id="id" name="id">
      
              <label for="id_sala">ID da sala:</label>
              <input type="text" id="id_sala" name="id_sala">
      
              <label for="material">Material:</label>
              <input type="text" id="material" name="material">
      
              <label for="cor">Cor:</label>
              <input type="text" id="cor" name="cor">
      
              <label for="turma">Infor 1</label>
              <input type="radio" name="turma">
      
              <label for="turma">Infor 2</label>
              <input type="radio" name="turma">
      
              <label for="turma">Infor 3</label>
              <input type="radio" name="turma">
      
            </form>
          </div>
      
        </dialog>
        <th>id</th>
        <th>Cor</th>
        <th>Local</th>
        <th>Material</th>
        <th>Funções</th>
      </tr>
      
  {% elif lista == 2 %}
  <table>
    <thead>
        <tr>
        <th>id</th>
        <th>Potência</th>
        <th>Local</th>
        <th>Consumo</th>
        <th>Funções</th>
       </tr>
    </thead>
  {% endif %}
        

          {% for objeto in itens: %}
          {% if lista == 1 %}
          <tr id="moveis-{{itens.id}}"></tr>
          <th scope="row">{{ objeto.id }}</th>
          <td>{{ objeto.cor }}</td>

          {% if objeto.id_sala == 1 %}

            <td>infor 1</td>

          {% elif objeto.id_sala == 2 %}

            <td>infor 2</td>

          {% elif objeto.id_sala == 3 %}

            <td>infor 3</td>

          {% endif %}

            <td>{{ objeto.material }}</td>

            <td>
                <button>Editar</button>
              <button>Deletar</button>
            </td>
         


          {% elif lista == 2 %}
          <tr>
            <th>{{ objeto.id }}</th>
            <td>{{ objeto.potencia }}</td>

            {% if objeto.id_sala == 1 %}

            <td>infor 1</td>

            {% elif objeto.id_sala == 2 %}

            <td>infor 2</td>

            {% elif objeto.id_sala == 3 %}

            <td>infor 3</td>

            {% endif %}

            <td>{{ objeto.consumo }}</td>
          </tr>
          {% endif %}
          {% endfor %}

        </tbody>
      </table>


      <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="exibir-item"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->


</body>

</html>