<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registrations.css">
    <title>registrar</title>
</head>
<body>

    <main class="main--registro">

        <div class="left--registro">
            <h1> Faça Login <br> Gerenciador Escolar de Patrimônio</h1>
        </div>

        <div class="right--registro">
            <div class="card--registro">
                
                <h1>LOGIN</h1>
                <br>
                <form action="" method="post">
                    <div class="text--registro">
                        <label for="usuario"> Usuário </label>
                        <input type="text" name="login" placeholder="insira um login" id=""> <br>
                    </div>
            
                    <div class="text--registro">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="insira uma senha" id=""> <br>
                    
                        <input class="btn--registro" type="submit" name="" value="Cadastrar">
                    </div>

                </form>
            </div>
        </div>
    </main>


</body>
</html>