<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="shortcut icon" href="../final/img/Traced Image.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/743acab142.js" crossorigin="anonymous"></script>
    <title> GEP - Sobre nós </title>
<body>
    
    <!--Aqui se encontra o menu do site.-->
    <header>
        
        <img class="logo" src="../static/images/logo.svg" alt="logo">

        <nav id="nav--bar">

            <ul id="nav--list">

                <li class="nav--item active">
                    <a href="{{url_for('index')}}">Voltar</a>
                </li>

                <li class="nav--item"><a href="support.html">Suporte</a></li>

            </ul>

            <button id="mobile--btn">
                <i class="fa-solid fa-bars button--options"></i>
            </button>
            
        </nav>
    </header>

    <!--Aqui se encontra a seção inicial e descritiva-->
    <section class="home">
        <div class="home-text">
            <h1>GE<span>P</span></h1>
            <p>Gestão Escolar de Patrimônio: um site para coordenar e identificar os bens <br>da instituição Edson Queiroz.</p>
        </div>
        <img src="../static/icons/Traced Image.svg" alt="">

    </section>

    <!--Aqui se encontra a seção dos motivos do projeto-->
    <section class="description">
        <h2>Motivos do <span>Projeto</span></h2>
        <hr>
            <ol> 
                <li><strong>Eficiência na Gestão:</strong> Centralizar as informações dos bens da escola facilita o acompanhamento, manutenção e uso adequado dos recursos. </li>
              
                <li><strong>Transparência:</strong>Um sistema acessível permite que toda a comunidade escolar (gestores, professores, alunos e pais) acompanhe a situação do patrimônio, promovendo maior responsabilidade na utilização dos bens.</li>
            
                <li> <strong>Planejamento:</strong> Com dados precisos, a instituição pode planejar melhor investimentos e aquisições futuras, além de identificar necessidades de melhorias.</li>
            
                <li><strong>Segurança:</strong> Um inventário atualizado ajuda na proteção dos bens, evitando perdas e danos, e facilita a responsabilização em caso de problemas.</li>
            </ol>   
        </div>
        
    </section>

    <!--Aqui se encontra a seção de apresentação dos desenvolvedores -->
    <section class="develops">
        <div class="top">
            <h2 id="main-title">Desenvolvedores</h2>
            <p>Alunos de informática 2°Ano </p>
        </div>
        <div id="cards">

            <!--Aqui se encontra o card dos desenvolvedores back-end-->
            <div class="card">
                <span class="icon"><i class="fa-solid fa-circle-user fa-flip-horizontal" style="color: #c2bbb9;"><img src="../static/icons/circle-user.png" alt=""></i></span>
                <h2 id="title">Back-end</h2>
                <hr>
                    <ul>
                        <li>José Ilcle Maia</li>
                        <li>Victor Gabriel Mateus</li>
                        <li>Lucas Gomes Rosalino</li>
                    </ul>
            </div>

            <!--Aqui se encontra o card dos desenvolvedores fron-end-->
            <div class="card">
                <span class="icon"><i class="fa-solid fa-circle-user fa-flip-horizontal" style="color: #c2bbb9;"><img src="../static/icons/circle-user.png" alt=""></i></span>
                <h2 id="title">Front-end</h2>
                <hr>
                    <ul>
                        <li>Francisco Kauan Almeida </li>
                        <li>André Vitor Sousa</li>
                    </ul>
            </div>
            
            <!--Aqui se encontra o card do membro auxiliar-->
            <div class="card">
                <span class="icon"><i class="fa-solid fa-circle-user fa-flip-horizontal" style="color: #c2bbb9;"><img src="../static/icons/circle-user.png" alt=""></i></span>
                <h2 id="title">Auxiliar</h2>
                <hr>
                    <ul>
                        <li>Francisco Miguel Ferreira</li>
                    </ul>
            </div>
        </div>
        
    </section>
   
</body>

</html>