<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="shortcut icon" href="../static/icons/favicon.png" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="../static/js/script.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title> GEP - Sobre nós </title>

<body>

    <!--Aqui se encontra o menu do site.-->
    <!-- <header>

        <a href="/">
            <img class="logo" src="../static/images/logo.svg" alt="logo">
        </a>

        <nav id="nav--bar">

            <ul id="nav--list">

                <li class="nav--item active">
                    <a href="{{url_for('index')}}">Voltar</a>
                </li>

                <li class="nav--item"><a href="support.html">Suporte</a></li>

            </ul>

            <button id="mobile--btn">
                <i class="fa-solid fa-bars button--options"></i>
            </button>

        </nav>
    </header>

    <div id="mobile--menu">
        <ul id="mobile--nav--list">

            <li class="btn--m">
                <a href="{{url_for('index')}}">Voltar</a>
            </li>

            <details>
                <summary class="dropDown--su">Suporte</summary>

                <li class="btn--m drop--btn"><a href="support.html">Download - manual do usuário</a></li>
            </details>

        </ul>
    </div> -->


    <header>
        <a href="/">
            <img class="logo" src="../static/images/logo.svg" alt="logo">
        </a>
        <nav class="nav--bar">
            <div class="nav--bar--item">
                <a class="back--active" href="/"> <button> Voltar </button> </a>
                <a class="line--bottom" href=""> Suporte </a>
            </div>

            <button id="mobile--btn">
                <i class="fa-solid fa-bars button--options"></i>
            </button>
        </nav>
    </header>

    <!--Aqui se encontra a seção inicial e descritiva-->
    <main>
        <section class="home">
            <div class="home-text">
                <h1>Sobre nós</h1>
                <p>Bem-vindo à nossa startup! Somos um time apaixonado por inovação,
                    desenvolvendo soluções inteligentes para transformar a gestão escolar e otimizar processos
                    educativos.</p>
            </div>
        </section>
        <!--Aqui se encontra a seção de benefícios-->
        <section class="benefits">
            <div class="benefits-text">
                <h1>Benefícios da Gestão de Patrimônio</h1>
                <p>A criação desse site é uma estratégia eficaz de gestão escolar, pois permite uma administração mais
                    organizada e acessível dos recursos.</p>
            </div>
            <img src="../static/icons/Traced Image.svg" alt="Símbolo do Projeto">
        </section>
        <!--Aqui se encontra a seção dos motivos do projeto-->
        <section class="description">
            <h1>Motivos do <span>Projeto</span></h1>
            <ol>
                <li><strong>Eficiência na Gestão:</strong> Centralizar as informações dos bens da escola facilita o
                    acompanhamento, manutenção e uso adequado dos recursos. </li>
                <li><strong>Transparência:</strong>Um sistema acessível permite que toda a comunidade escolar (gestores,
                    professores, alunos e pais) acompanhe a situação do patrimônio, promovendo maior responsabilidade na
                    utilização dos bens.</li>
                <li> <strong>Planejamento:</strong> Com dados precisos, a instituição pode planejar melhor investimentos
                    e
                    aquisições futuras, além de identificar necessidades de melhorias.</li>
                <li><strong>Segurança:</strong> Um inventário atualizado ajuda na proteção dos bens, evitando perdas e
                    danos, e facilita a responsabilização em caso de problemas.</li>
            </ol>
        </section>
        <!--Aqui se encontra a seção de apresentação dos desenvolvedores -->
        <section class="develops">
            <h2 id="main-title">Desenvolvedores</h2>
            <p>Alunos de informática 2°Ano </p>
            </div>
            <div class="cards">
                <!--Aqui se encontra o card dos desenvolvedores back-end-->
                <div class="card">
                    <img src="../static/icons/back-end.svg" alt="imagem ilustrativa de back-end">
                    <h2 id="title">Back-end</h2>
                    <hr>
                    <ul>
                        <li>José Ilcle Maia</li>
                        <li>Victor Gabriel Mateus</li>
                        <li>Lucas Gomes Rosalino</li>
                    </ul>
                </div>
                <!--Aqui se encontra o card dos desenvolvedores fron-end-->
                <div class="card">
                    <img src="../static/icons/front-end.svg" alt="imagem ilustrativa de front-end">
                    <h2 id="title">Front-end</h2>
                    <hr>
                    <ul>
                        <li>Francisco Kauan Almeida </li>
                        <li>André Vitor Sousa</li>
                    </ul>
                </div>
                <!--Aqui se encontra o card do membro auxiliar-->
                <div class="card">
                    <img src="../static/icons/auxiliar.svg" alt="imagem ilustrativa de auxiliar">
                    <h2 id="title">Documentação</h2>
                    <hr>
                    <ul>
                        <li>Francisco Miguel Ferreira</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <!-- Aqui se encontra o rodapé do site-->

    <footer>
        <div class="fim">
            <img id="logo-footer" src="../static/images/logo.svg" alt="logotipo">
            <div class="footer--column">
                <h2>Contato</h2>
                <div class="container-blocos">

                    <div class="bloco-1">
                        <img id="contact-img" src="../static/icons/email.png" alt="email">
                        <ul>
                            <li>joseilclemaia@gmail.com </li>
                            <li>lucasfcbb123@gmail.com</li>
                            <li>andre5555358@gmail.com </li>
                            <li>fcokauanclash@gmail.com </li>
                            <li>victorgab0802@gmail.com</li>
                            <li>fm.nascimento1010@gmail.com</li>
                        </ul>
                    </div>
                    <div class="bloco-2">
                        <img id="contact-img" src="../static/icons/github.png" alt="Github">
                        <ul>
                            <li>jJoseIlcle14 </li>
                            <li>patluc15</li>
                            <li>Andr-wq</li>
                            <li>FcoKauan </li>
                        </ul>
                    </div>

                    <div class="dropdown-footer">
                        <span>
                            <h2 id="btn-f">Criadores dos Ícones</h2>
                        </span>
                        <div class="dropdown-content-footer">

                            <div id="icons"> Ícones feitos por <a href="https://www.flaticon.com/br/autores/freepik"
                                    title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/br/"
                                    title="Flaticon">www.flaticon.com'</a></div>
                            <div id="icons"> Ícones feitos por <a href="https://www.flaticon.com/br/autores/juicy-fish"
                                    title="juicy_fish"> juicy_fish </a> from <a href="https://www.flaticon.com/br/"
                                    title="Flaticon">www.flaticon.com'</a></div>
                            <div id="icons"> Ícones feitos por <a href="https://www.flaticon.com/br/autores/xnimrodx"
                                    title="xnimrodx"> xnimrodx </a> from <a href="https://www.flaticon.com/br/"
                                    title="Flaticon">www.flaticon.com'</a></div>
                            <div id="icons"> Ícones feitos por <a
                                    href="https://www.flaticon.com/br/autores/vector-stall" title="Vector Stall"> Vector
                                    Stall </a> from <a href="https://www.flaticon.com/br/"
                                    title="Flaticon">www.flaticon.com'</a></div>
                            <div id="icons"> Ícones feitos por <a href="https://www.flaticon.com/br/autores/itim2101"
                                    title="itim2101"> itim2101 </a> from <a href="https://www.flaticon.com/br/"
                                    title="Flaticon">www.flaticon.com'</a></div>
                            <div id="icons"> Ícones feitos por <a href="https://www.freepik.com" title="Freepik">
                                    Freepik </a>
                                from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com'</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p>© 2024 GEP. Todos os direitos reservados.</p>

    </footer>

</body>

</html>